# git worktree with wip branch
/wip

# idk
*.out

# guess
Session.vim

# directory for stashing build/test-time dependencies, e.g. buildkitd, runc,
# rootlesskit
/hack/buildkit/bin

# super secure
/secrets*

# coverage
cover.out
cover.html

# nix
/.direnv
/result

# compiled stuff
pkg/runtimes/shim/bin/exe.*
/out
