# git worktree with wip branch
/wip

# idk
*.out

# guess
Session.vim

# directory for stashing build/test-time dependencies, e.g. deepsource,
# buildkitd, runc, rootlesskit
/bin

# super secure
secrets.bass
