@medium-screen: 1024px; // support side-by-side
@small-screen: 500px;
@list-border-radius: 7px;

:root {
  --page-margin: 70px;
  --bottom-height: 70px;
  --sidebar-width: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--base03) 0, var(--base04) 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, var(--base04) 0, var(--base05) 100%);
}

h1 {
  font-weight: 900;
}

h1, h2, h3 {
  .header-text {
    background: linear-gradient(45deg, var(--base08) 0, var(--base0A) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.chroma {
  background: transparent;
}

.page {
  margin: var(--page-margin);
  margin-bottom: calc(var(--page-margin) + var(--bottom-height));
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-height);
  padding: 35px;
  border-radius: 10px;
  color: var(--base00);

  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a, select, label {
    line-height: 50px;
    height: 50px;
    padding: 0 1em 20px;
    box-sizing: content-box;
  }

  a {
    display: inline-block;
    text-decoration: none;
    background: radial-gradient(var(--base01) 0, var(--base02) 100%);
    color: var(--base05);
    border-radius: 5px;
    margin: 5px 0;

    &.top {
      font-weight: 900;
      text-decoration: underline;
    }

    &:active, &:focus {
      background: radial-gradient(var(--base03) 0, var(--base01) 100%);
    }

    &.current {
      font-weight: 700;
      background: var(--base00);
      background: radial-gradient(var(--base0A) 0, var(--base08) 100%);
      color: var(--base00);

      // .section-title {
      //   background: linear-gradient(45deg, var(--base04) 0, var(--base05) 100%);
      //   -webkit-background-clip: text;
      //   background-clip: text;
      //   -webkit-text-fill-color: transparent;
      // }
    }
  }

  nav {
    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .choose-theme {
    display: flex;
    flex-direction: row;

    font-family: @monospace-font;

    .reset {
      float: right;
    }

    select {
      appearance: none;
      background: var(--base02);
      color: var(--base05);
      font: inherit;
      border: 0;
      border-radius: 0;
    }
  }
}

.page h1 {
  margin-top: 0;
}

.toc {
  font-weight: bold;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  &, & a {
    color: var(--base03);
  }

  > a::before {
    content: "; ";
  }

  .toc > a::before {
    content: ";; ";
    margin-left: 8px;
  }

  .toc .toc > a::before {
    content: ";;; ";
    margin-left: 16px;
  }
}

.section-anchor {
  color: var(--base03);
  text-decoration: none;

  &:hover {
    color: var(--base04);
  }
}

h1 .section-anchor::before {
  content: ";;; ";
}

h2 .section-anchor::before {
  content: ";; ";
}

h3 .section-anchor::before {
  content: "; ";
}

.ansi-line {
  &:empty:before {
    // prevent collapsing blank lines of output
    content: " ";
  }

  .fg-red     { color: var(--base08); }
  .fg-green   { color: var(--base0B); }
  .fg-yellow  { color: var(--base0A); }
  .fg-blue    { color: var(--base0D); }
  .fg-magenta { color: var(--base0E); }
  .fg-cyan    { color: var(--base0C); }
  .fg-white   { color: var(--base05); }
  .fg-bright-black   { color: var(--base03); }
  .fg-bright-red     { color: var(--base08); }
  .fg-bright-green   { color: var(--base0B); }
  .fg-bright-yellow  { color: var(--base0A); }
  .fg-bright-blue    { color: var(--base0D); }
  .fg-bright-magenta { color: var(--base0E); }
  .fg-bright-cyan    { color: var(--base0C); }
  .fg-bright-white   { color: var(--base07); }

  .bg-red     { background: var(--base08); }
  .bg-green   { background: var(--base0B); }
  .bg-yellow  { background: var(--base0A); }
  .bg-blue    { background: var(--base0D); }
  .bg-magenta { background: var(--base0E); }
  .bg-cyan    { background: var(--base0C); }
  .bg-white   { background: var(--base05); }
  .bg-bright-black   { background: var(--base03); }
  .bg-bright-red     { background: var(--base08); }
  .bg-bright-green   { background: var(--base0B); }
  .bg-bright-yellow  { background: var(--base0A); }
  .bg-bright-blue    { background: var(--base0D); }
  .bg-bright-magenta { background: var(--base0E); }
  .bg-bright-cyan    { background: var(--base0C); }
  .bg-bright-white   { background: var(--base07); }
}

.code-with-output {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  pre {
    margin: 0;
    padding: 5px;
    overflow-x: auto;
  }

  .section {
    position: relative;

    &.code {
      > code {
        margin: 0;
        padding: 5px;
      }

      > code {
        display: block;
      }

      > .highlight pre {
        overflow: auto;
      }
    }

    &.code, &.result {
      border-left: 2px solid var(--base02);
    }

    &.stdout, &.stderr {
      border-top: 2px dashed var(--base02);

      pre {
        max-height: 300px;
      }
    }

    &.result, &.stderr {
      background: linear-gradient(45deg, var(--base00) 0, var(--base01) 100%);
    }

    &.result {
      border-top: 2px solid var(--base02);
    }

    .bass-value {
      padding: 5px;
    }

    .section-label {
      font-family: @monospace-font;
      color: var(--base03);
      float: right;
      display: block;
      padding: 5px;
      padding-left: 1ch;
    }
  }
}

.literate-code {
  margin: 2em;

  &:first-child {
    margin-top: 0;
  }
}

.delimited {
  display: table;

  > .open, > .content, > .close {
    display: table-cell;
    vertical-align: top;

    .chroma {
      padding: 0;
    }
  }

  > .close {
    vertical-align: bottom;
  }
}

.scope {
  display: table;

  .scope-cell {
    padding: 0;
    white-space: nowrap;
    vertical-align: top;

    > .chroma, > .delimited {
      padding: 0;
    }

    &:first-child {
      border-bottom: 0;
      padding-right: 1ch;
    }

    &:last-child {
      // only item (e.g. scope parent)
      padding-right: 0;
    }
  }

  .scope-parents {
    background: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-span: all;
    display: table-cell;
  }

  .scope-cell:first-child {
    width: 1%;
  }

  .scope-cell:last-child {
    border-right: 0;
    width: 100%;
  }

  .scope-field:last-child > .scope-cell {
    border-bottom: 0;
  }
}

.thunk-path {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.thunk-path {
  background: linear-gradient(45deg, var(--base00) 0, var(--base02) 100%);

  .thunk-avatar {
    background: transparent !important;
  }
}

.thunk-avatar {
  display: block;
  text-align: center;
  background: linear-gradient(45deg, var(--base00) 0, var(--base02) 100%);
  padding: 5px;
  // border-radius: 5px;

  .scope {
    text-align: left;
  }

  .speech-bubble {
    border-left: 2px dashed var(--base02);
    margin-left: 1ch;
    padding-left: 1ch;
    cursor: initial;
  }

  svg {
    display: block;
    user-select: none;
    background: radial-gradient(var(--base01) 0, var(--base02) 100%);
    border-radius: 5px;
    margin: 0 auto;
  }

  label {
    cursor: pointer;

    &:hover {
      svg {
        background: radial-gradient(var(--base03) 0, var(--base02) 100%);
      }
    }
  }

  .message {
    font-family: @monospace-font;
  }
}

.bass-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  > li {
    display: table-cell;
    vertical-align: top;
    padding-left: 1ch;
    font-family: @monospace-font;

    &:first-child {
      padding-left: 0;
    }
  }
}

.thunk-toggle {
  display: inline-flex; // inline so it can be space-delimited in lists

  label {
    cursor: pointer;
  }

  .toggle {
    display: none;
  }

  .toggled {
    display: none;
    vertical-align: middle;
  }

  .toggle:not(:checked) ~ .toggled {
    display: none;
  }

  .toggle:checked ~ .toggled {
    display: table-cell;
  }
}

.side-by-side {
  display: flex;
  flex-direction: column; // overridden with @media

  .side-by-side-pane {
    flex-basis: 50%;
    margin-bottom: 2em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bass-demo {
  margin-bottom: 2em;

  .demo-path {
    border-bottom: 2px dashed var(--base02);
  }
}

.sh-commands {
  background: linear-gradient(45deg, var(--base00) 0, var(--base02) 100%);
}

.sh-command {
  border-left: 2px solid var(--base02);

  padding: 3px 5px;
  white-space: pre;

  > code:before {
    content: "$ ";
    color: var(--base04);
  }
}

.construction {
  &:before, &:after {
    animation: wiggle 0.5s infinite;
    content: " ";
    background-image: url('images/construction.gif');
    width: 19px;
    height: 19px;
    display: inline-block;
    background-size: 19px;
    vertical-align: middle;
  }

  &:before {
    margin-right: 5px;
  }

  &:after {
    margin-left: 5px;
  }
}

.bass-commentary {
  margin-top: 2em;

  .bass-binding {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .commentary-path {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .comment-title {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    border-left: 2px solid var(--base02);

    &:hover {
      background-color: var(--base01);
      border-color: var(--base05);
    }

    .formals {
      margin-left: 1ch;
    }
  }

  .comment-body {
    background: linear-gradient(45deg, var(--base00) 0, var(--base02) 100%);
    border-top: 2px dashed var(--base02);
    border-left: 2px solid var(--base02);

    .literate {
      padding: 5px;

      &:empty {
        display: none;
      }
    }

    .literate-clause:first-child p {
      margin-top: 0;
    }

    .literate-clause:last-child p {
      margin-bottom: 0;
    }
  }

  .binding-value {
    padding: 5px;
    border-top: 2px dashed var(--base02);
    border-left: 2px solid var(--base02);
  }
}

a .term {
  font-weight: 500;
  color: var(--base0C);
  text-decoration: underline;

  &:hover {
    color: var(--base06);
  }
}

.bass-term {
  margin-top: 3em;

  dt {
    font-size: 1.4em;

    .term {
      font-weight: 700;
    }

    a:target .term {
      color: var(--base06);
      text-decoration-style: double;
    }
  }

  dd {
    margin-left: 2em;
  }
}

.clause-target {
  float: left;
  width: 50px;
  margin-left: -50px;
  text-align: right;

  .clause-link {
    color: var(--base03);
    text-decoration: none;
    margin-right: 1ch;
    visibility: hidden;

    &:hover {
      color: var(--base04);
    }
  }

  a:target ~ .clause-link {
    color: var(--base04);
    visibility: visible;
  }
}

.literate-clause:hover .clause-target .clause-link {
  visibility: visible;
}

@keyframes wiggle {
  0% { -webkit-transform: rotate(10deg); }
  50% { -webkit-transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(10deg); }
}

@media (max-width: @small-screen) {
  :root {
    --page-margin: 25px;
  }

  body {
    font-size: 16px;
  }

  .bass-term dd {
    margin-left: 1em;
  }

  .code-with-output .section .section-label {
    float: none;
    text-align: center;
    display: block;
  }

  .literate-code {
    margin: 2em 1em;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media (min-width: @medium-screen) {
  .side-by-side {
    flex-direction: row;

    .side-by-side-pane {
      margin-right: 2em;
      margin-bottom: 0;
    }
  }

  body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .page {
    margin: 0;
    padding: var(--page-margin);
    flex-grow: 1;
    max-width: 900px;
  }

  .sidebar {
    top: 0;
    left: 0;
    right: initial;
    bottom: 0;

    width: var(--sidebar-width);
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;

    overflow: hidden;
    // text-align: right;

    &, nav, nav ul, .choose-theme {
      flex-direction: column;
    }

    a, select, label {
      padding-bottom: 0;
    }

    a {
      display: block;
    }

    select {
      text-align: right;
    }
  }
}
