<option value="3024">3024</option>
<option value="apprentice">apprentice</option>
<option value="ashes">ashes</option>
<option value="atelier-cave-light">atelier-cave-light</option>
<option value="atelier-cave">atelier-cave</option>
<option value="atelier-dune">atelier-dune</option>
<option value="atelier-estuary">atelier-estuary</option>
<option value="atelier-forest">atelier-forest</option>
<option value="atelier-heath">atelier-heath</option>
<option value="atelier-lakeside-light">atelier-lakeside-light</option>
<option value="atelier-lakeside">atelier-lakeside</option>
<option value="atelier-plateau-light">atelier-plateau-light</option>
<option value="atelier-plateau">atelier-plateau</option>
<option value="atelier-savanna-light">atelier-savanna-light</option>
<option value="atelier-savanna">atelier-savanna</option>
<option value="atelier-seaside">atelier-seaside</option>
<option value="atelier-sulphurpool">atelier-sulphurpool</option>
<option value="bespin">bespin</option>
<option value="brewer">brewer</option>
<option value="bright">bright</option>
<option value="chalk">chalk</option>
<option value="circus">circus</option>
<option value="classic-dark">classic-dark</option>
<option value="danqing">danqing</option>
<option value="darcula">darcula</option>
<option value="darkmoss">darkmoss</option>
<option value="decaf">decaf</option>
<option value="default-dark">default-dark</option>
<option value="dracula">dracula</option>
<option value="eighties">eighties</option>
<option value="equilibrium-dark">equilibrium-dark</option>
<option value="equilibrium-gray-dark">equilibrium-gray-dark</option>
<option value="equilibrium-gray-light">equilibrium-gray-light</option>
<option value="equilibrium-light">equilibrium-light</option>
<option value="espresso">espresso</option>
<option value="eva-dim">eva-dim</option>
<option value="eva">eva</option>
<option value="framer">framer</option>
<option value="gigavolt">gigavolt</option>
<option value="google-dark">google-dark</option>
<option value="gruvbox-dark-hard">gruvbox-dark-hard</option>
<option value="gruvbox-dark-medium">gruvbox-dark-medium</option>
<option value="gruvbox-dark-pale">gruvbox-dark-pale</option>
<option value="gruvbox-dark-soft">gruvbox-dark-soft</option>
<option value="gruvbox-light-hard">gruvbox-light-hard</option>
<option value="gruvbox-light-medium">gruvbox-light-medium</option>
<option value="gruvbox-light-soft">gruvbox-light-soft</option>
<option value="hardcore">hardcore</option>
<option value="harmonic-dark">harmonic-dark</option>
<option value="harmonic16-dark">harmonic16-dark</option>
<option value="helios">helios</option>
<option value="horizon-dark">horizon-dark</option>
<option value="horizon-terminal-dark">horizon-terminal-dark</option>
<option value="humanoid-dark">humanoid-dark</option>
<option value="ia-dark">ia-dark</option>
<option value="ir-black">ir-black</option>
<option value="irblack">irblack</option>
<option value="marrakesh">marrakesh</option>
<option value="materia">materia</option>
<option value="material-darker">material-darker</option>
<option value="material-palenight">material-palenight</option>
<option value="material">material</option>
<option value="mocha">mocha</option>
<option value="monokai">monokai</option>
<option value="nord">nord</option>
<option value="ocean">ocean</option>
<option value="oceanicnext">oceanicnext</option>
<option value="one-light">one-light</option>
<option value="outrun-dark">outrun-dark</option>
<option value="phd">phd</option>
<option value="railscasts">railscasts</option>
<option value="rose-pine-moon">rose-pine-moon</option>
<option value="rose-pine">rose-pine</option>
<option value="sandcastle">sandcastle</option>
<option value="snazzy">snazzy</option>
<option value="solar-flare">solar-flare</option>
<option value="solarflare">solarflare</option>
<option value="solarized-dark">solarized-dark</option>
<option value="summercamp">summercamp</option>
<option value="synth-midnight-dark">synth-midnight-dark</option>
<option value="tender">tender</option>
<option value="tomorrow-night-eighties">tomorrow-night-eighties</option>
<option value="tomorrow-night">tomorrow-night</option>
<option value="twilight">twilight</option>
<option value="windows-10">windows-10</option>
<option value="windows-95">windows-95</option>
<option value="windows-highcontrast">windows-highcontrast</option>
<option value="woodland">woodland</option>
