<div class="bass-commentary">
  <h3 class="commentary-path"><div class="sh-command"><code>bass <a href="https://github.com/vito/bass/tree/main/std/{{.Partial "Path" | render}}" target="_blank">std/{{.Partial "Path" | render}}</a></code></div></h3>
  {{.Content | render}}
</div>
