{{if .Partial "Symbol"}}
<div class="bass-commented">
  <a class="comment-title" href="https://github.com/vito/bass/tree/main/std/{{.Partial "Path" | render}}#L{{.Partial "StartLine" | render}}{{with .Partial "EndLine"}}-L{{. | render}}{{end}}">
    <div class="ansi-line"><code><span class="fg-bright-black">; {{.Partial "Title" | render}}</span></code></div>
    <div class="ansi-line"><code><span class="fg-green">{{.Partial "Signature" | render}}</span></code></div>
  </a>
  {{with .Content}}
  <div class="comment-body">
    {{. | render}}
  </div>
  {{end}}
</div>
{{else}}
{{.Content | render}}
{{end}}
