<div class="workload-path">
  <div class="workload-avatar">
    <div class="workload-toggle">
      <input id="thunk-{{.Partial "ID" | render}}" type="checkbox" class="toggle" />
      <label for="thunk-{{.Partial "ID" | render}}">
        <div class="message run">{{.Partial "Run" | render}}</div>
        {{.Content | rawHTML}}
      </label>
      <div class="toggled">
        <div class="speech-bubble">
          {{.Partial "Scope" | render}}
        </div>
      </div>
    </div>
  </div>
  {{with .Partial "Path"}}
  <div class="path">{{. | render}}</div>
  {{end}}
</div>
