<div class="workload-toggle">
  <label for="thunk-{{.Partial "ID" | render}}">
    <div class="workload-path">
      <div class="object-avatar">
        <div class="message run">{{.Partial "Run" | render}}</div>
        {{.Content | rawHTML}}
      </div>
      {{with .Partial "Path"}}
      <div class="path">{{. | render}}</div>
      {{end}}
    </div>
  </label>
    <input id="thunk-{{.Partial "ID" | render}}" type="checkbox" class="toggle" />
    <div class="toggled">
      <div class="speech-bubble">
        {{.Partial "Object" | render}}
      </div>
    </div>
</div>
