<div class="bass-demo">
  <div class="demo-path"><div class="sh-command"><code>bass <a href="https://github.com/vito/bass/tree/main/{{.Partial "Path" | render}}" target="_blank">{{.Partial "Path" | render}}</a></code></div></div>
  <div class="demo-content">{{.Content | render}}</div>
</div>
