<div class="delimited">
  <div class="open"><code class="chroma p">(</code></div>
  <div class="content">
    <ol class="bass-list">
    {{range .Content}}
      <li>{{. | render}}</li>
    {{end}}
    </ol>
  </div>
  <div class="close"><code class="chroma p">)</code></div>
</div>
