<div class="bass-binding bass-bass-file">
  <a class="comment-title ansi-line" href="https://github.com/vito/bass/tree/main/{{.Partial "Path" | render}}">
    <code class="chroma signature">{{.Partial "Path" | render}}</code>
  </a>

  {{.Content | render}}
</div>
