<div class="delimited multiline">
  <div class="open"><code class="chroma p">{</code></div>
  <div class="content">
    <table class="scope">
      {{range .Content}}
      {{. | render}}
      {{end}}
    </table>
  </div>
  <div class="close"><code class="chroma p">}</code></div>
</div>
