<div class="workload-toggle">
  <label for="thunk-{{.Partial "ID" | render}}">
    <div class="object-avatar">
      <div class="message run">{{.Partial "Run" | render}}</div>
      {{.Content | rawHTML}}
      {{with .Partial "Path"}}
      <div class="message path">{{. | render}}</div>
      {{end}}
    </div>
  </label>
  <input id="thunk-{{.Partial "ID" | render}}" type="checkbox" class="toggle" />
  <div class="toggled">
    {{.Partial "Object" | render}}
  </div>
</div>
