<div class="thunk-path">
  <details class="thunk-avatar">
    <summary>
      <div class="message run">{{.Partial "Run" | render}}</div>
      {{.Content | rawHTML}}
    </summary>
    <div class="speech-bubble">
      {{.Partial "Scope" | render}}
    </div>
  </details>
  {{with .Partial "Path"}}
  <div class="path">{{. | render}}</div>
  {{end}}
</div>
