<div class="code-with-output">
  <div class="section code">
    {{.Content | render}}
  </div>

{{with .Partial "Stderr"}}
  <div class="section stderr">
    <span class="section-label">stderr</span>
    {{. | render}}
  </div>
{{end}}

{{with .Partial "Stdout"}}
<div class="section stdout">
  <span class="section-label">stdout</span>
  {{. | render}}
</div>
{{end}}

{{with .Partial "Result"}}
  <div class="section result">
    <span class="section-label">result</span>
    <div class="bass-value">
      {{. | render}}
    </div>
  </div>
{{end}}
</div>
