<div class="code-with-output">
  <div class="section code">
    {{.Content | render}}
  </div>

{{$id := .Partial "ID" | render}}
{{$lines := .Partial "StderrLines" | render}}
{{with .Partial "Stderr"}}
  <div class="section stderr">
    <details>
      <summary><span class="stderr-toggle">stderr: {{$lines}} lines</span></summary>

      {{. | render}}
    </details>
  </div>
{{end}}

{{with .Partial "Stdout"}}
<div class="section stdout">
  <span class="section-label">stdout</span>
  <div class="selectable-output" contenteditable="true">
    {{. | render}}
  </div>
</div>
{{end}}

{{with .Partial "Result"}}
  <div class="section result">
    <span class="section-label">result</span>
    <div class="bass-value">
      {{. | render}}
    </div>
  </div>
{{end}}
</div>
