<div class="module">
  <div class="index">
    <h3><span class="header-text">index</span></h3>

    {{.Partial "Index" | render}}
  </div>

  <div class="bindings">
    <h3><span class="header-text">bindings</span></h3>

    {{.Content | render}}
  </div>
</div>
