<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>{{.Title.String}}{{if .Parent}} ; {{.Top.Title.String}}{{end}}</title>
    <link rel="stylesheet" type="text/css" href="css/iosevka.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script>
      if (window.location.host !== 'vito.github.io') {
        window.goatcounter = {no_onload: true}
      }
    </script>
    <script data-goatcounter="https://bass.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script type="text/javascript" src="js/switcher.js"></script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="css/base16/base16-rose-pine-moon.css" />
    </noscript>
  </head>
  <body>
    <div class="page{{if not .Parent}} top{{end}}">
      {{. | render}}
    </div>

    <div class="sidebar">
      <nav>
        <ul>
          <li>{{template "section-link.tmpl" walkContext $ .Top}}</li>
          {{range .Top.Children}}
          <li>{{template "section-link.tmpl" walkContext $ .}}</li>
          {{end}}
        </ul>
      </nav>

      <div class="choose-theme" id="choosetheme">
        <label for="styleswitcher">theme</label>
        <select id="styleswitcher" onchange="switchStyle(event)">
          {{template "base16-options.tmpl"}}
        </select>
      </div>
    </div>
  </body>
</html>
