@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--base00);
  color: var(--base05);
  font-family: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
::selection {
  background: var(--base02);
}
pre,
code {
  font-family: 'Iosevka', monospace;
}
a {
  color: var(--base0D);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Iosevka', monospace;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before {
  color: var(--color-b16-cmt);
}
h2,
h3 {
  margin-top: 3rem;
}
nav {
  font-family: 'Iosevka', monospace;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.highlight {
  --color-b16-bg: var(--base00);
  /* Default Background */
  --color-b16-bg-lighter: var(--base01);
  /* Lighter Background (Used for status bars) */
  --color-b16-bg-sel: var(--base02);
  /* Selection Background */
  --color-b16-cmt: var(--base03);
  /* Comments, Invisibles, Line Highlighting */
  --color-b16-fg-darker: var(--base04);
  /* Darker Foreground (Used for status bars) */
  --color-b16-fg: var(--base05);
  /* Default Foreground, Caret, Delimiters, Operators */
  --color-b16-fg-light: var(--base06);
  /* Light Foreground (Not often used) */
  --color-b16-bg-light: var(--base07);
  /* Light Background (Not often used) */
  --color-b16-var: var(--base08);
  /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --color-b16-const: var(--base09);
  /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --color-b16-class: var(--base0A);
  /* Classes, Markup Bold, Search Text Background */
  --color-b16-str: var(--base0B);
  /* Strings, Inherited Class, Markup Code, Diff Inserted */
  --color-b16-regex: var(--base0C);
  /* Support, Regular Expressions, Escape Characters, Markup Quotes */
  --color-b16-func: var(--base0D);
  /* Functions, Methods, Attribute IDs, Headings */
  --color-b16-kwd: var(--base0E);
  /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --color-b16-embd: var(--base0F);
  /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}
/* Background */
.chroma {
  color: var(--color-b16-fg);
  background-color: var(--color-b16-bg);
}
/* Other */
.chroma .x {
  color: var(--color-b16-fg);
}
/* Error */
.chroma .err {
  color: var(--color-b16-var);
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: var(--color-b16-bg-sel);
}
/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}
/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}
/* Keyword */
.chroma .k {
  color: var(--color-b16-kwd);
}
/* KeywordConstant */
.chroma .kc {
  color: var(--color-b16-kwd);
}
/* KeywordDeclaration */
.chroma .kd {
  color: var(--color-b16-kwd);
}
/* KeywordNamespace */
.chroma .kn {
  color: var(--color-b16-kwd);
}
/* KeywordPseudo */
.chroma .kp {
  color: var(--color-b16-func);
}
/* KeywordReserved */
.chroma .kr {
  color: var(--color-b16-kwd);
}
/* KeywordType */
.chroma .kt {
  color: var(--color-b16-kwd);
}
/* Name */
.chroma .n {
  color: var(--color-b16-fg);
}
/* NameAttribute */
.chroma .na {
  color: var(--color-b16-fg);
}
/* NameBuiltin */
.chroma .nb {
  color: var(--color-b16-func);
}
/* NameBuiltinPseudo */
.chroma .bp {
  color: var(--color-b16-func);
}
/* NameClass */
.chroma .nc {
  color: var(--color-b16-class);
}
/* NameConstant */
.chroma .no {
  color: var(--color-b16-const);
}
/* NameDecorator */
.chroma .nd {
  color: var(--color-b16-const);
}
/* NameEntity */
.chroma .ni {
  color: var(--color-b16-class);
}
/* NameException */
.chroma .ne {
  color: var(--color-b16-class);
}
/* NameFunction */
.chroma .nf {
  color: var(--color-b16-fg);
}
/* NameFunctionMagic */
.chroma .fm {
  color: var(--color-b16-fg);
}
/* NameLabel */
.chroma .nl {
  color: var(--color-b16-var);
}
/* NameNamespace */
.chroma .nn {
  color: var(--color-b16-class);
}
/* NameOther */
.chroma .nx {
  color: var(--color-b16-func);
}
/* NameProperty */
.chroma .py {
  color: var(--color-b16-var);
}
/* NameTag */
.chroma .nt {
  color: var(--color-b16-func);
}
/* NameVariable */
.chroma .nv {
  color: var(--color-b16-func);
}
/* NameVariableClass */
.chroma .vc {
  color: var(--color-b16-func);
}
/* NameVariableGlobal */
.chroma .vg {
  color: var(--color-b16-func);
}
/* NameVariableInstance */
.chroma .vi {
  color: var(--color-b16-var);
}
/* NameVariableMagic */
.chroma .vm {
  color: var(--color-b16-func);
}
/* Literal */
.chroma .l {
  color: var(--color-b16-str);
}
/* LiteralDate */
.chroma .ld {
  color: var(--color-b16-str);
}
/* LiteralString */
.chroma .s {
  color: var(--color-b16-str);
}
/* LiteralStringAffix */
.chroma .sa {
  color: var(--color-b16-str);
}
/* LiteralStringBacktick */
.chroma .sb {
  color: var(--color-b16-str);
}
/* LiteralStringChar */
.chroma .sc {
  color: var(--color-b16-str);
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--color-b16-embd);
}
/* LiteralStringDoc */
.chroma .sd {
  color: var(--color-b16-cmt);
}
/* LiteralStringDouble */
.chroma .s2 {
  color: var(--color-b16-str);
}
/* LiteralStringEscape */
.chroma .se {
  color: var(--color-b16-regex);
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--color-b16-str);
}
/* LiteralStringInterpol */
.chroma .si {
  color: var(--color-b16-embd);
}
/* LiteralStringOther */
.chroma .sx {
  color: var(--color-b16-str);
}
/* LiteralStringRegex */
.chroma .sr {
  color: var(--color-b16-regex);
}
/* LiteralStringSingle */
.chroma .s1 {
  color: var(--color-b16-str);
}
/* LiteralStringSymbol */
.chroma .ss {
  color: var(--color-b16-kwd);
}
/* LiteralNumber */
.chroma .m {
  color: var(--color-b16-const);
}
/* LiteralNumberBin */
.chroma .mb {
  color: var(--color-b16-const);
}
/* LiteralNumberFloat */
.chroma .mf {
  color: var(--color-b16-const);
}
/* LiteralNumberHex */
.chroma .mh {
  color: var(--color-b16-const);
}
/* LiteralNumberInteger */
.chroma .mi {
  color: var(--color-b16-const);
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--color-b16-const);
}
/* LiteralNumberOct */
.chroma .mo {
  color: var(--color-b16-const);
}
/* Operator */
.chroma .o {
  color: var(--color-b16-fg);
}
/* OperatorWord */
.chroma .ow {
  color: var(--color-b16-fg);
}
/* Punctuation */
.chroma .p {
  color: var(--color-b16-fg);
}
/* Comment */
.chroma .c {
  color: var(--color-b16-cmt);
}
/* CommentHashbang */
.chroma .ch {
  color: var(--color-b16-cmt);
}
/* CommentMultiline */
.chroma .cm {
  color: var(--color-b16-cmt);
}
/* CommentSingle */
.chroma .c1 {
  color: var(--color-b16-cmt);
}
/* CommentSpecial */
.chroma .cs {
  color: var(--color-b16-cmt);
}
/* CommentPreproc */
.chroma .cp {
  color: var(--color-b16-embd);
}
/* CommentPreprocFile */
.chroma .cpf {
  color: var(--color-b16-str);
}
/* Generic */
.chroma .g {
  color: var(--color-b16-fg);
}
/* GenericDeleted */
.chroma .gd {
  color: var(--color-b16-var);
}
/* GenericEmph */
.chroma .ge {
  color: var(--color-b16-fg);
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: var(--color-b16-fg);
}
/* GenericHeading */
.chroma .gh {
  color: var(--color-b16-func);
}
/* GenericInserted */
.chroma .gi {
  color: var(--color-b16-str);
}
/* GenericOutput */
.chroma .go {
  color: var(--color-b16-fg);
}
/* GenericPrompt */
.chroma .gp {
  color: var(--color-b16-fg);
}
/* GenericStrong */
.chroma .gs {
  color: var(--color-b16-fg);
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: var(--color-b16-func);
}
/* GenericTraceback */
.chroma .gt {
  color: var(--color-b16-fg);
}
/* GenericUnderline */
.chroma .gl {
  color: var(--color-b16-fg);
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
  color: var(--color-b16-bg);
  text-decoration: underline;
}
/* lang specific optimization */
/** go **/
/* function name */
/* .chroma .language-go .nf */
/* variable, struct name, struct attribute */
/* .chroma .language-go .nx */
/* builtin func like make(), make it diff from func, chroma go has no .nc */
.chroma .language-go .nb {
  color: var(--color-b16-class);
}
.chroma .nf {
  color: var(--color-b16-func);
}
.chroma .nb {
  color: var(--color-b16-kwd);
}
.chroma .nv {
  color: var(--color-b16-fg);
}
.chroma .ss {
  color: var(--color-b16-const);
}
.chroma .k {
  color: var(--color-b16-kwd);
}
/* Operator: *, +, -, := */
/* .chroma .language-go .o */
/* Punctuation: , . () {} */
/* .chroma .language-go .p */
.k {
  color: var(--base0E);
}
.s {
  color: var(--base0B);
}
:root {
  --page-margin: 70px;
  --bottom-height: 70px;
  --sidebar-width: 200px;
}
.chroma {
  background: transparent;
}
.page {
  margin: var(--page-margin);
  margin-bottom: calc(var(--page-margin) + var(--bottom-height));
}
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-height);
  background: var(--base05);
  color: var(--base00);
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar a,
.sidebar select,
.sidebar label {
  line-height: 50px;
  height: 50px;
  padding: 0 1em 20px;
  box-sizing: content-box;
}
.sidebar a {
  display: inline-block;
  text-decoration: none;
  color: var(--base00);
}
.sidebar a.top {
  font-weight: bold;
  text-decoration: underline;
}
.sidebar a.current {
  background: var(--base04);
}
.sidebar nav {
  display: flex;
  flex-direction: row;
}
.sidebar nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .choose-theme {
  display: flex;
  flex-direction: row;
  font-family: 'Iosevka', monospace;
}
.sidebar .choose-theme .reset {
  float: right;
}
.sidebar .choose-theme select {
  appearance: none;
  background: var(--base02);
  color: var(--base05);
  font: inherit;
  border: 0;
  border-radius: 0;
}
.page h1 {
  margin-top: 0;
}
.toc {
  font-weight: bold;
}
.toc ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.toc a {
  text-decoration: none;
}
.toc,
.toc a {
  color: var(--base03);
}
.toc > a::before {
  content: "; ";
}
.toc .toc > a::before {
  content: ";; ";
  margin-left: 8px;
}
.toc .toc .toc > a::before {
  content: ";;; ";
  margin-left: 16px;
}
.section-anchor {
  color: var(--base03);
  text-decoration: none;
}
.section-anchor:hover {
  color: var(--base04);
}
h1 .section-anchor::before {
  content: ";;; ";
}
h2 .section-anchor::before {
  content: ";; ";
}
h3 .section-anchor::before {
  content: "; ";
}
.ansi-line:empty:before {
  content: " ";
}
.ansi-line .fg-red {
  color: var(--base08);
}
.ansi-line .fg-green {
  color: var(--base0B);
}
.ansi-line .fg-yellow {
  color: var(--base0A);
}
.ansi-line .fg-blue {
  color: var(--base0D);
}
.ansi-line .fg-magenta {
  color: var(--base0E);
}
.ansi-line .fg-cyan {
  color: var(--base0C);
}
.ansi-line .fg-white {
  color: var(--base05);
}
.ansi-line .fg-bright-black {
  color: var(--base03);
}
.ansi-line .fg-bright-red {
  color: var(--base08);
}
.ansi-line .fg-bright-green {
  color: var(--base0B);
}
.ansi-line .fg-bright-yellow {
  color: var(--base0A);
}
.ansi-line .fg-bright-blue {
  color: var(--base0D);
}
.ansi-line .fg-bright-magenta {
  color: var(--base0E);
}
.ansi-line .fg-bright-cyan {
  color: var(--base0C);
}
.ansi-line .fg-bright-white {
  color: var(--base07);
}
.ansi-line .bg-red {
  background: var(--base08);
}
.ansi-line .bg-green {
  background: var(--base0B);
}
.ansi-line .bg-yellow {
  background: var(--base0A);
}
.ansi-line .bg-blue {
  background: var(--base0D);
}
.ansi-line .bg-magenta {
  background: var(--base0E);
}
.ansi-line .bg-cyan {
  background: var(--base0C);
}
.ansi-line .bg-white {
  background: var(--base05);
}
.ansi-line .bg-bright-black {
  background: var(--base03);
}
.ansi-line .bg-bright-red {
  background: var(--base08);
}
.ansi-line .bg-bright-green {
  background: var(--base0B);
}
.ansi-line .bg-bright-yellow {
  background: var(--base0A);
}
.ansi-line .bg-bright-blue {
  background: var(--base0D);
}
.ansi-line .bg-bright-magenta {
  background: var(--base0E);
}
.ansi-line .bg-bright-cyan {
  background: var(--base0C);
}
.ansi-line .bg-bright-white {
  background: var(--base07);
}
.code-with-output {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.code-with-output pre {
  margin: 0;
  padding: 5px;
  overflow-x: auto;
}
.code-with-output .section {
  position: relative;
}
.code-with-output .section.code > code {
  margin: 0;
  padding: 5px;
}
.code-with-output .section.code > code {
  display: block;
}
.code-with-output .section.code > .highlight pre {
  overflow: auto;
}
.code-with-output .section.code,
.code-with-output .section.result {
  border-left: 2px solid var(--base02);
}
.code-with-output .section.stdout,
.code-with-output .section.stderr {
  border-top: 2px dashed var(--base02);
}
.code-with-output .section.stdout pre,
.code-with-output .section.stderr pre {
  max-height: 300px;
}
.code-with-output .section.stderr {
  background: var(--base01);
}
.code-with-output .section.result {
  border-top: 2px solid var(--base02);
}
.code-with-output .section .bass-value {
  padding: 5px;
}
.code-with-output .section .section-label {
  font-family: 'Iosevka', monospace;
  color: var(--base03);
  float: right;
  display: block;
  padding: 5px;
  padding-left: 1ch;
}
.literate-code {
  margin: 2em;
}
.literate-code:first-child {
  margin-top: 0;
}
.delimited {
  display: table;
}
.delimited > .open,
.delimited > .content,
.delimited > .close {
  display: table-cell;
  vertical-align: top;
}
.delimited > .open .chroma,
.delimited > .content .chroma,
.delimited > .close .chroma {
  padding: 0;
}
.delimited > .close {
  vertical-align: bottom;
}
.scope {
  display: table;
}
.scope .scope-cell {
  padding: 0;
  white-space: nowrap;
  vertical-align: top;
}
.scope .scope-cell > .chroma,
.scope .scope-cell > .delimited {
  padding: 0;
}
.scope .scope-cell:first-child {
  border-bottom: 0;
  padding-right: 1ch;
}
.scope .scope-cell:last-child {
  padding-right: 0;
}
.scope .scope-parents {
  background: red;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-span: all;
  display: table-cell;
}
.scope .scope-cell:first-child {
  width: 1%;
}
.scope .scope-cell:last-child {
  border-right: 0;
  width: 100%;
}
.scope .scope-field:last-child > .scope-cell {
  border-bottom: 0;
}
.thunk-path {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.thunk-avatar {
  cursor: pointer;
  display: block;
  text-align: center;
  background: var(--base01);
  padding: 5px;
  border-width: 2px;
  border-color: var(--base02);
  border-style: solid;
  border-radius: 10px;
}
.thunk-avatar:hover {
  border-color: var(--base03);
}
.thunk-avatar .scope {
  text-align: left;
}
.thunk-avatar .speech-bubble {
  border-left: 2px dashed var(--base02);
  margin-left: 1ch;
  padding-left: 1ch;
  cursor: initial;
}
.thunk-avatar svg {
  display: block;
  user-select: none;
  background: var(--base02);
  border-radius: 10px;
  margin: 0 auto;
}
.thunk-avatar .message {
  background: var(--base01);
  font-family: 'Iosevka', monospace;
}
.thunk-avatar:hover .message {
  color: var(--base05);
}
.bass-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.bass-list > li {
  display: table-cell;
  vertical-align: top;
  padding-left: 1ch;
  font-family: 'Iosevka', monospace;
}
.bass-list > li:first-child {
  padding-left: 0;
}
.thunk-toggle {
  display: inline-flex;
}
.thunk-toggle label {
  cursor: pointer;
}
.thunk-toggle .toggle {
  display: none;
}
.thunk-toggle .toggled {
  display: none;
  vertical-align: middle;
}
.thunk-toggle .toggle:not(:checked) ~ .toggled {
  display: none;
}
.thunk-toggle .toggle:checked ~ .toggled {
  display: table-cell;
}
.side-by-side {
  display: flex;
  flex-direction: column;
}
.side-by-side .side-by-side-pane {
  flex-basis: 50%;
  margin-bottom: 2em;
}
.side-by-side .side-by-side-pane:last-child {
  margin-right: 0;
}
.bass-demo {
  margin-bottom: 2em;
}
.bass-demo .demo-path {
  border-bottom: 2px dashed var(--base02);
}
.sh-commands {
  background: var(--base01);
}
.sh-command {
  background: var(--base01);
  border-left: 2px solid var(--base02);
  padding: 3px 5px;
  white-space: pre;
}
.sh-command > code:before {
  content: "$ ";
  color: var(--base04);
}
.construction:before,
.construction:after {
  animation: wiggle 0.5s infinite;
  content: " ";
  background-image: url('images/construction.gif');
  width: 19px;
  height: 19px;
  display: inline-block;
  background-size: 19px;
  vertical-align: middle;
}
.construction:before {
  margin-right: 5px;
}
.construction:after {
  margin-left: 5px;
}
.bass-commentary {
  margin-top: 2em;
}
.bass-commentary .bass-binding {
  margin-bottom: 2em;
}
.bass-commentary .bass-binding:last-child {
  margin-bottom: 0;
}
.bass-commentary .commentary-path {
  margin-top: 0;
  margin-bottom: 1rem;
}
.bass-commentary .comment-title {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  border-left: 2px solid var(--base02);
}
.bass-commentary .comment-title:hover {
  background-color: var(--base01);
  border-color: var(--base05);
}
.bass-commentary .comment-title .formals {
  margin-left: 1ch;
}
.bass-commentary .comment-body {
  background: var(--base01);
  border-top: 2px dashed var(--base02);
  border-left: 2px solid var(--base02);
}
.bass-commentary .comment-body .literate {
  padding: 5px;
}
.bass-commentary .comment-body .literate:empty {
  display: none;
}
.bass-commentary .comment-body .literate-clause:first-child p {
  margin-top: 0;
}
.bass-commentary .comment-body .literate-clause:last-child p {
  margin-bottom: 0;
}
.bass-commentary .binding-value {
  padding: 5px;
  border-top: 2px dashed var(--base02);
  border-left: 2px solid var(--base02);
}
a .term {
  font-weight: 500;
  color: var(--base0C);
  text-decoration: underline;
}
a .term:hover {
  color: var(--base06);
}
.bass-term {
  margin-top: 3em;
}
.bass-term dt {
  font-size: 1.4em;
}
.bass-term dt .term {
  font-weight: 700;
}
.bass-term dt a:target .term {
  color: var(--base06);
  text-decoration-style: double;
}
.bass-term dd {
  margin-left: 2em;
}
.clause-target {
  float: left;
  width: 50px;
  margin-left: -50px;
  text-align: right;
}
.clause-target .clause-link {
  color: var(--base03);
  text-decoration: none;
  margin-right: 1ch;
  visibility: hidden;
}
.clause-target .clause-link:hover {
  color: var(--base04);
}
.clause-target a:target ~ .clause-link {
  color: var(--base04);
  visibility: visible;
}
.literate-clause:hover .clause-target .clause-link {
  visibility: visible;
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  :root {
    --page-margin: 25px;
  }
  body {
    font-size: 16px;
  }
  .bass-term dd {
    margin-left: 1em;
  }
  .code-with-output .section .section-label {
    float: none;
    text-align: center;
    display: block;
  }
  .literate-code {
    margin: 2em 1em;
  }
  .literate-code:first-child {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .side-by-side {
    flex-direction: row;
  }
  .side-by-side .side-by-side-pane {
    margin-right: 2em;
    margin-bottom: 0;
  }
  body {
    display: flex;
    flex-direction: row-reverse;
  }
  .page {
    margin: 0;
    margin-left: var(--sidebar-width);
    padding: var(--page-margin);
    flex-grow: 1;
  }
  .sidebar {
    top: 0;
    left: 0;
    right: initial;
    bottom: 0;
    width: var(--sidebar-width);
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: right;
  }
  .sidebar,
  .sidebar nav,
  .sidebar nav ul,
  .sidebar .choose-theme {
    flex-direction: column;
  }
  .sidebar a,
  .sidebar select,
  .sidebar label {
    padding-bottom: 0;
  }
  .sidebar a {
    display: block;
  }
  .sidebar select {
    text-align: right;
  }
}
