name: test

on:
  push:
    branches: ["*"]

jobs:
  bass:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with: {go-version: 1.18}
    - run: ./ci/actions-entrypoint
